.liste-auteurs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.auteur {
    background: #fff;
    width: 280px;
    height: 350px;
    border-radius: 35px;
    margin: 20px;
    box-shadow: 0px 10px 15px 3px lightgray;
}

.auteur h2 {
    text-align: center;
    padding: 20px;
}

.oeuvres {
    line-height: 1.2;
    margin-bottom: 20px;
}